.screenContainer {
  display: flex;
  flex-direction: row;
  width:100%;
  height:90vh;
}

.column1 {
  width:68%;
  height: 100%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
}

.column2 {
  width:32%;
  height: 100%;
  padding-left: 3%;
  padding-right: 3%;
}

.headerText {
  height:1em;
  font-size: 24px;
  padding-bottom: 5vh;
}

.header2Text {
  height:1em;
  font-size: 20px;
  padding-bottom: 5vh;
  /* width:100%; */
}

.addButton {
  width: 100%;
  height: 3em;
  font-size: 30px;
  font-weight: bold;
  margin-top:50%;
}

.listContainer {
  display:flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 80vh;
}

.item {
  display:flex;
  flex-direction: row;
  border-color: black;
  border-width: 10px;
  border: solid;
}

textarea {
  resize: none;
  height: 75%;
  width:94%;
  font-size: 16px;
  margin-left: 3%;
  margin-right: 3%;
}